* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgb(229, 74, 92), rgb(57, 18, 96));
  width: 100%;
  height: 100vh;
}
.infoOfUser {
  font-size: 14px;
}
.h1 {
  color: #fcf6f6;
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 30px;
  padding-top: 20px;
}
.bg {
  background-image: linear-gradient(rgb(189, 34, 52), rgb(64, 55, 189));
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}
.infoOfUser {
  color: gray;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 60px;
  align-items: center;
  padding-top: 20px;
}
.infoOfUser input {
  height: 30px;
  border-radius: 15px;
  padding-left: 50px;
  background-color: #000;
  border-color: rgb(68, 86, 219);
}
.blackBg {
  background-color: black;
  height: 350px;
  width: 350px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.blackBg p {
  color: gray;
  display: flex;
  justify-content: center;
}
.forgotPass {
  padding-top: 20px;
}
.headLogin {
  color: #fff;
}
.enterPass {
  font-size: 12px;
}
.login {
  padding-top: 30px;
}
